:root {
  --primary: #124e66;
  --secondary: #ffcb9a;
  --primary-light: #d1e8e2;
  --white: #fff;
  --black: #000;
  --light: #ccc;
  --lighter: #f2f2f2;
  --dark: #444;
  --shadow: #aaa;
  --navbar-height: 80px;
}

@font-face {
  font-family: Title;
  src: url('./fonts/FreightDispProMedium-Regular.ttf');
}

@font-face {
  font-family: TitleLight;
  src: url('./fonts/Source_Serif_4/static/SourceSerif4-Medium.ttf');
}

@font-face {
  font-family: Content;
  src: url('./fonts/Noto_Znamenny_Musical_Notation/NotoZnamennyMusicalNotation-Regular.ttf');
}

@font-face {
  font-family: ContentBold;
  src: url('./fonts/Noto_Znamenny_Musical_Notation/NotoZnamennyMusicalNotation-Regular.ttf');
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
