.blogs-container {
  background: url('../img/content-bg.jpg') right/cover fixed;
}

.blogs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 15px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow);
}

.blog-cover {
  background: url('../img/about-bg.jpg') center/cover;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-content {
  padding: 25px;
}

.blog-content h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

.blog-content p {
  margin: 0;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: var(--dark);
}

@media (max-width: 960px) {
  .blogs-grid {
    justify-content: space-between;
  }

  .blog-card {
    width: 48%;
    margin: 10px auto;
  }

  .blog-cover {
    height: 100px;
  }
}

@media (max-width: 450px) {
  .blog-card {
    width: 100%;
    margin: 15px 0;
  }

  .blog-cover {
    height: 150px;
  }
}
